.project
{
    border: 1px solid #CCC;
    border-radius: .25rem;

    margin-bottom: 3rem;

    .content
    {
        padding: .75rem;
    }

    .title
    {
        margin-top: 0;
    }

    .description
    {
        margin: 0 0 1.5rem 0;
    }
}