* {
  box-sizing: border-box;
}

html {
  font: {
    family: $base-font;
    size: 0.85rem;
  }

  color: $color-font;

  line-height: $base-line-height;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: $heading-font;
  }

  line-height: $heading-line-height;
}

h1,
h2,
h3,
h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: bold;
}

h1 {
  font-size: 3.998rem;
}

h2 {
  font-size: 2.827rem;
}

h3 {
  font-size: 1.999rem;
}

h4 {
  font-size: 1.414rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.3rem;

  &.large {
    @extend p;
    font-size: 1.25rem;
  }

  &.subhead {
    margin-top: -0.75rem;
  }

  &.small {
    font-size: 0.85rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $color-blue-light;
  transition: 0.3s color;

  &:hover {
    color: $color-blue-dark;
  }
}

main {
  margin-top: $header-height;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 1.25rem;

  &--full-width {
    @extend .container;
    max-width: none;
  }

  &--narrow {
    @extend .container;
    max-width: $container-width-narrow;
  }
}

.fa {
  margin-right: 0.5rem;
}

@media all and (min-width: $breakpoint-tablet) {
  html {
    font-size: 1rem;
  }

  main {
    margin-top: $header-height-tablet;
  }
}
