
// Colors
$color-white: #ffffff;
$color-black: #000000;

// Fonts
$base-font: 'Open Sans', serif;
$base-line-height: 1.8;

$heading-font: 'Rubik', sans-serif;
$heading-line-height: 1.2;


// Layout
$container-width: 1440px;